<ion-grid color="light">
  
  <div *ngIf="showQR; else adminSpace">
    <ion-row>
      <ion-col>
        <qrcode width="256" [qrdata]="coded" elementType="url" errorCorrectionLevel="'Q'" margin="1"></qrcode>
      </ion-col>
    </ion-row>
  
    <ion-row>
      <ion-col>
        <ion-progress-bar color="tertiary" [value]="progress" buffer="0" class="progress-qr"></ion-progress-bar>
      </ion-col>
    </ion-row>
  </div>

  <video #video [hidden]="!scanActive" width="100%"></video>

  <canvas #canvas hidden></canvas>
  <ng-template #adminSpace>

    <ion-fab vertical="bottom" horizontal="end">
      <ion-fab-button><ion-icon [name]="scanActive ? 'stop-outline' : 'add'" (click)="action()"></ion-icon></ion-fab-button>
      <!-- <ion-fab-list side="top">
        <ion-fab-button>
          <ion-icon name="logo-facebook"></ion-icon>
        </ion-fab-button>
        <ion-fab-button>
          <ion-icon name="logo-twitter"></ion-icon>
        </ion-fab-button>
        <ion-fab-button>
          <ion-icon name="logo-youtube"></ion-icon>
        </ion-fab-button>
      </ion-fab-list> -->
    </ion-fab>
  </ng-template>
</ion-grid>