<ion-app>
  <!-- Header -->
  <ion-header>
    <!-- Toolbar -->
    <ion-toolbar color="primary">
      <ion-buttons slot="primary">
        <ion-button>
          <ion-icon slot="icon-only" [name]="options"></ion-icon>
        </ion-button>
        <ion-button (click)="openAccount()">
          <ion-icon slot="icon-only" name="person-circle-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title>Logo</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <!-- Content (router) -->
  <ion-content>

    <!-- Tabs -->
    <ion-tabs #menuTabs (ionTabsDidChange)="tabChanged()">
      <!-- Tab bar -->
      <ion-tab-bar slot="bottom">
        <ion-tab-button *ngFor="let item of items" [tab]="item.path">
          <ion-icon [name]="item.icon"></ion-icon>
          <ion-label>{{ item.title }}</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-content>
</ion-app>